body{
    margin: 0px;
    border-left: solid 5px lightgray;
    font-family: 'Lato', sans-serif;
}
*{
    box-sizing: border-box;
}
img{
    width: 100%;
}
.custom-container{
    max-width: 1000px;
    margin:auto;
}

h1, h2, h3, h4, h5, h6{
    margin: 0px;
}
ul{
    list-style: none;
    text-decoration: none;
    padding-left: 0;
}
a{
    text-decoration: none;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header h1{
    color: #DE3B30;
    font-weight: 100;
    font-size: 3.2rem
}
header h2{
    font-size: 1.6rem;
    font-weight: normal;
}
header nav ul li a{
    font-size: 1.3rem;
    color: #ccc;
    font-weight: normal;
    transition: 0.5s;
    text-decoration: underline;
}
header nav ul li a:hover {
    color: #DE3B30;
}
header,
main,
footer{
    padding: 1rem 2rem;
}

.blogpost {
    border-bottom: solid 1px lightgray;
    margin-bottom: 4rem;
    padding-bottom: 2rem;
}
.postBody article p::first-letter {
    color: lightgray;
    float: left;
    margin-right: 1rem;
    initial-letter: 3;
    font-weight: 300;
    padding-top: 0.5rem;
}
article.blogpost h2 {
    font-size: 1.5rem;
    color: #c5c5c5;
    font-weight: 400;
}
article.blogpost h6 {
    font-size: 2.2rem;
    font-weight: 300;
    color: #000;
}
article.blogpost img {
    margin: 1.3rem 0rem;
}
.continuesPost{
    text-align: right;
}
.continuesPost a {
    color: #FF6347;
    text-transform: capitalize;
    font-weight: bold;
}
article.blogpost p {
    font-size: 1.2rem;
    line-height: 2.1rem;
    color: #222;
}

footer nav ul{
    display: flex;
    flex-wrap: wrap;
}

footer nav ul li a{
    color:#DE3B30;
    font-size: 1.1rem;
    transition: 0.5s;
}
footer nav ul li a:hover{
    text-decoration: underline;
}
footer nav ul li {
    margin-right: 0.5rem;
    padding-right: 0.5rem;
    position: relative;
}
footer nav ul li:after {
    position: absolute;
    content: "";
    width: 1px;
    height: 18px;
    right: 0px;
    top: 50%;
    background: #b5b5b5;
    transform: translate(0%, -50%);
}
footer nav ul li:last-child:after{
    display: none;
}
footer .copyright p{
    color:lightgray;
}
header nav ul li {
    margin-right: 1rem;
}
header nav ul li:last-child{
    margin-right: 0px;
}

@media(max-width:800px){
    html{
        font-size: 90%;
    }
    header nav ul{
        justify-content: flex-start;
    }

}